<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <nav class="nav">
        <div class="nav__logo">logo</div>
        <div class="nav__links">
            <div>about</div>
            <div>Our Service</div>
            <div>Career</div>
            <div>Partnership</div>
            <div>Contact</div>
        </div>
        <div class="nav__login">
            <a class="nav__button nav_button_login" href="/login">login</a>
        </div>
    </nav>
</header>
<main></main>
<footer></footer>
</body>
</html>